<%- include('../../partials/header.ejs')%>

    <%- include('../../partials/navbar.ejs')%>

        <div class="container">
            <hr>
            <h2>Usuarios</h2>
            <a href="/admin/users/create" class='btn btn-success'>Cadastrar novo usuario</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% users.forEach(user=>{%>
                            <td>
                                <%= user.id%>
                            </td>
                            <td>
                                <%= user.email%>
                            </td>
                            <td>
                                <form method="POST" action="/user/delete" style="display: inline;"
                                    onsubmit="confirmarDelecao(event,this)">
                                    <input type="hidden" name="id" value="<%=user.id%>">
                                    <button class="btn btn-danger">Deletar</button>
                                </form>
                                <a class="btn btn-primary" href="/admin/users/edit/<%=user.id%>">Editar</a>
                            </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>

        <%- include('../../partials/footer.ejs')%>
            <script>
                function confirmarDelecao(event, form) {
                    //Não deixa enviar o formulario
                    event.preventDefault();
                    var decision = confirm("Você quer deletar esse artigo?")
                    if (decision) {
                        //Manda o formulario -- o This dentro de um evento em tml você esta referenciando o formulrio em sim
                        form.submit()
                    } else {

                    }
                }
            </script>